@model PiattoViewModel
<h1> Ecco i detagli del piatto</h1>

<p>ID: @Model.ID</p>
<p>Nome: @Model.Nome</p>
<p>Descrizione: @Model.Descrizione</p>
<p>Tipologia: @Model.Tipologia</p>
<p>Prezzo: @Model.Prezzo</p>
<p>MenuId: @Model.MenuId</p>

